ul.graph {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.graph li
{
	padding: .2em;
	background: #600;
	color: black;
}

ul.graph li.percent
{
	background: #428bca;
}
ul.graph li.percent_green
{
	background: #5cb85c;
}
ul.graph li.percent_aqua
{
	background: #5bc0de;
}
ul.graph li.percent_orange
{
	background: #f0ad4e;
}
ul.graph li.percent_red {
	background: #d9534f;
}
td.bar {
  border-left: 1px solid black !important;
  width: 80%;
	vertical-align: center !important;
}
.results-table {
  width: 100%;
}
.results-table td {
  border: none;
  text-align: right;
  padding-right: 10px !important;
	height: 40px;
	vertical-align: center;
}

.results-table tr {
	border: 1px solid #E5EBF2;
}
