<:Subject>
SMU HART Center Invitation
<:Html>
  <html>
    <body>
      <table cellspacing="0" cellpadding="0" border="0" style="color: #333; background: #fff; padding: 0; margin: 0; width: 100%; font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;">
        <tbody>
          <tr width="100%">
            <td valign="top" align="left" style="background: #f0f0f0; font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;">
              <table style="border: none; padding: 0 18px; margin: 50px auto; width: 500px;">
                <tbody>
                  <tr width="100%" height="57">
                    <td valign="top" align="left" style="border-top-left-radius: 4px; border-top-right-radius: 4px; background: #337ab7; padding: 12px 18px; text-align: center; font-weight: bold; font-size: 28px; color: #fff; vertical-align: middle;">
                      Hart Engineering Leadership Portal
                    </td>
                  </tr>
                  <tr width="100%">
                    <td valign="top" align="left" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background:#fff; padding: 18px;">
                      <h1 style="font-size: 20px; margin: 0; color: #333;">
                        <iframe src="https://drive.google.com/file/d/0B2Vk6v0l_TAFc2FsV3ZqaFNleGs/preview" width="550" height="450"></iframe>
                        <br>
                        <br>
                        Hello Lyle Engineer!
                      </h1>
                      <p style="font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica; color: #333;">

                        After gauging your interest and skillset, the SMU HART Center for Engineering Leadership would like to invite you to chart your career growth at the SMU Lyle School of Engineering through the
                        HART Engineering Leadership Portal.
                        <br>
                        <br>
                        Are you a leader who knows how to motivate a team? <br>Are you an innovative problem-solver?<br> Do you have the ability to effectively collaborate with different kinds of people?
                        <br>
                        <br>
                        If you can identify with any of these, create a HART Engineering Leadership Portal account today to learn more about your strengths and weaknesses and to
                        discover events and organizations for your personal and career growth.
                        <br>
                        <br>
                        <a href="https://abero-help.herokuapp.com/signup"> Sign Up </a>
                        <br>
                        <br>
                        -The SMU HART Center for Engineering Leadership
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>

<:Text>
{{ subject }},

{{ body }}
