// Place your apps css here
@media (min-width: 768px) {
  #nav_bar {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  #side_bar {
    margin-top: 60px;
    position: fixed;
  }
  #side_bar > div {
    height: auto;
  }
  #page-wrapper, #page-wrapper-default {
    padding-top: 100px !important;
  }
}
@media (max-width: 768px) {
  #nav_bar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  #side_bar {
    background: #09192A;
    margin-top: 118px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  #side_bar > div {
    height: auto;
  }
  #page-wrapper, #page-wrapper-default {
    padding-top: 150px !important;
  }
}
