<button type="button" id="modalButton" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:none"></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">User <small>{{ model.name || 'New User'}}</small></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <table class="table">
                <tbody>
                  <tr>
                    <th>First Name</th>
                    <td>{{ model.first_name || "--" }}</td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>{{ model.last_name || "--" }}</td>
                  </tr>
                  <tr>
                    <th>Prefered Name</th>
                    <td>{{ model.prefered_name || "--" }}</td>
                  </tr>
                  <tr>
                    <th>SMU ID</th>
                    <td>{{ model.smu_id || "--" }}</td>
                  </tr>
                  <tr>
                    <th>Graduation Year</th>
                    <td>{{ model.graduation_year || "--" }}</td>
                  </tr>
                  <tr>
                    <th>Major</th>
                    <td>{{ model.major || "--" }}</td>
                  </tr>
                  <tr>
                    <th>Last Login</th>
                    <td>{{ model.last_login.strftime("%m/%d") }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {{ if model.survey_status == 'not taken' }}
            <button e-click="allow_access(model.id)" class="btn btn-primary" >Issue Survey</button>
          {{ elsif model.survey_status == 'in progress' }}
            <button class="btn btn-default">Survey In Progress</button>
          {{ else }}
            <button e-click="survey(model.id)" class="btn btn-primary" >View Survey Results</button>
          {{ end }}
          <button id="close" type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>

    </div>
  </div>
