<div class="modal fade" id="ClubModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{ model.name || 'New Club/Organization' }}</h2>
      </div>
      <div class="modal-body">
          <:fields:text value="{{ model._name }}" label="Club/Organization Name"/>
          <:fields:textarea value="{{ model._description }}" />
          <:fields:text value="{{ model._more_info }}" label="More Info - A link or email to contact "/>
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" style="text-align:center;"> Competencies for this Club</label>
            </div>
            <div class="col-md-6">
              <div class="list-group">
                <:competency item="Self Awareness">Self Awareness</:competency>
                <:competency item="Intentional Learner">Intentional Learner</:competency>
                <:competency item="Communication">Communication</:competency>
                <:competency item="Relationship Development">Relationship Development</:competency>
                <:competency item="Diversity Difference">Diversity Difference</:competency>
                <:competency item="Engaging Leadership">Engaging Leadership</:competency>
              </div>
            </div>
            <div class="col-md-6">
              <div class="list-group">
                <:competency item="Directive Leadership">Directive Leadership</:competency>
                <:competency item="Champions">Champions</:competency>
                <:competency item="Problem Solving">Problem Solving</:competency>
                <:competency item="Strategic Perspective">Strategic Perspective</:competency>
                <:competency item="Ethics Integrity">Ethics Integrity</:competency>
                <:competency item="Innovative Spirit">Innovative Spirit</:competency>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        {{ if model.saved? }}
          <button type="button" e-click="update_club" class="btn btn-primary btn-block">Save</button>
          <button type="button" class="btn btn-danger btn-block" e-click="delete_and_close">Delete Club/Organization</button>
        {{ else }}
          <button type="button" e-click="save_club" class="btn btn-primary btn-block">Create Club/Organization</button>
        {{ end }}
        <button id="close" type="button" data-dismiss="modal" class="btn btn-default btn-block">Close</button>
      </div>
    </div>
  </div>
</div>
