<div class="modal fade" id="ClubModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{ model.name || 'New Club/Organization' }}</h2>
      </div>
      <div class="modal-body">
          {{ if Volt.current_user.admin? }}
            <:fields:text value="{{ model._name }}" label="Club/Organization Name"/>
            <:fields:textarea value="{{ model._description }}" />
            <:fields:text value="{{ model._more_info }}" label="More Info - A link or email to contact "/>
          {{ else }}
            <label>Description</label>
            <p>{{ model._description }}</p>
            <label>For More Information</label>
            {{ if info_is_link? }}
            <p>
              <a href="{{ model._more_info }}" target="_blank">{{ model._more_info }}</a>
            </p>
            {{ else }}
            <p>{{ model._more_info }}</p>
            {{ end }}
          {{ end }}
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" style="text-align:center;"> Competencies for this Club</label>
            </div>
            {{ if model.saved? }}
            <div class="col-lg-12">
              <div class="list-group">
                {{ club_competencies(model.id).each do |comp| }}
                  <a href="" class="list-group-item">{{ comp.name }}</a>
                {{ end }}
              </div>
            </div>
            {{ else }}
              <div class="col-md-6">
                <div class="list-group">
                  <:competency item="Self Awareness">Self Awareness</:competency>
                  <:competency item="Intentional Learner">Intentional Learner</:competency>
                  <:competency item="Communicates Effectively">Communicates Effectively</:competency>
                  <:competency item="Relationship Development">Relationship Development</:competency>
                  <:competency item="Diversity Difference">Diversity Difference</:competency>
                  <:competency item="Engaging Leadership">Engaging Leadership</:competency>
                </div>
              </div>
              <div class="col-md-6">
                <div class="list-group">
                  <:competency item="Directive Leadership">Directive Leadership</:competency>
                  <:competency item="Champions Effective Processing">Champions Effective Processing</:competency>
                  <:competency item="Problem Solving">Problem Solving</:competency>
                  <:competency item="Strategic Perspective">Strategic Perspective</:competency>
                  <:competency item="Ethics Integrity">Ethics Integrity</:competency>
                  <:competency item="Innovative Spirit">Innovative Spirit</:competency>
                </div>
              </div>
            {{ end }}
          </div>
      </div>
      <div class="modal-footer">
        {{ if model.saved? && Volt.current_user.admin? }}
          <button type="button" e-click="update_club" class="btn btn-primary btn-block">Save</button>
          <button type="button" class="btn btn-danger btn-block" e-click="delete_and_close">Delete Club/Organization</button>
        {{ elsif Volt.current_user.admin?}}
          <button type="button" e-click="save_club" class="btn btn-primary btn-block">Create Club/Organization</button>
        {{ end }}
        <button id="close" type="button" data-dismiss="modal" class="btn btn-default btn-block">Close</button>
      </div>
    </div>
  </div>
</div>
