<:Title>
  HELP | Clubs and Organizations

<:Body>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="page-header">
          Clubs and Organizations <button e-click="new_club" class="btn btn-primary pull-right" data-toggle="modal" data-target="#ClubModal">Add Club/Organization +</button>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <:table:headers />
          </div>
        </div>
        <:table:wrapper>
          <:table:columns />
          <:table:main:body source="{{ store._clubs.all }}" source_name="clubs" e-club_click="show_more"/>
        </:table:wrapper>
        <:table:main:footers source="{{ store._clubs.all }}" source_name="clubs" />

        <!-- <div class="list-group">
        {{ store._clubs.all.each do |club| }}
          <a e-click="show_more(club.id)" class="">{{ club._name }}</a><br>
          {{ store._competencies.where(club_id: club.id).all.each do |comp| }}
            <span class="badge">{{ comp.name }}</span>
          {{ end }}
          <br><br>
        {{ end }}
        </div> -->
      </div>
    </div>
  </div>
</div>

{{ if page._club }}
  <:club_modal model="{{ page._club }}"/>
{{ end }}
