<:Title>
  About

<:Body>
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">
          About the Hart Engineering Leadership Portal
        </h1>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <p>The Hart Center Leadership Portal was designed and developed by a team of computer science students from Southern Methodist University.</p>

            <h2>Meet the Team</h2>

            <div class="row" style = "text-align:center">
                <div>

                    <img src="{{ asset_url('../../assets/images/Erik.jpg') }}" style="width:300px;height:300px;"/>
                    <span>Erik Gabrielsen</span>

                </div>

                <div>

                    <img src="{{ asset_url('../../assets/images/Rupal.jpg') }}" style="width:300px;height:300px;"/>
                    <span>Rupal Sanghavi</span>

                </div>

                <div>

                    <img src="{{ asset_url('../../assets/images/Andrew.jpg') }}" style="width:300px;height:300px;"/>
                    <span>Andrew Ksendzoff</span>

                </div>

                <div>

                    <img src="{{ asset_url('../../assets/images/Bryce.jpg') }}" style="width:300px;height:300px;"/>
                    <span>Bryce Stevenson</span>

                </div>

                <div>

                    <img src="{{ asset_url('../../assets/images/Omar.jpg') }}" style="width:300px;height:300px;"/>
                    <span>Omar Roa</span>

                </div>
            </div>
        </div>
    </div>
