<:Title>
  About Us

<:Body>
    <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">
            Dashboard <small>Leadership Portal</small>
          </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <p>The Hart Center Leadership Portal was designed and developed by a team of computer science students from Southern Methodist University.</p>

            <h2>Meet the Team</h2>

            <div class="row" style = "text-align:center">
                <div>

                    <img src="" style="width:300px;height:180px;">
                    <span>Erik Gabrielsen</span>

                </div>

                <div>

                    <img src="../../assets/images/Rupal.jpg" style="width:300px;height:180px;">
                    <span>Rupal Sanghavi</span>

                </div>

                <div>

                    <img src="../../assets/images/Rupal.jpg" style="width:300px;height:180px;">
                    <span>Andrew Ksendzoff</span>

                </div>

                <div>

                    <img src="../../assets/images/Rupal.jpg" style="width:300px;height:180px;">
                    <span>Bryce Stevenson</span>

                </div>

                <div>

                    <img src="../../assets/images/Rupal.jpg" style="width:300px;height:180px;">
                    <span>Omar Roa</span>

                </div>
            </div>
        </div>
    </div>
