<:Title>
  Home

<:Body>
  {{ if Volt.current_user }}
    <h1>Home</h1>
  {{ else }}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 style= "text-align:center">The Lyle Hart Leadership Assessment
        </h1>
        <br>
        <br>
        <p style= "text-align:center">As a student in the Bobby B. Lyle School of Engineering, you will receive a world-class education in engineering and computer science. You will learn technical theory, technical skills, as well as necessary teamwork and leadership skills needed to apply this knowledge.
          The Hart Leadership Assessment measures the student's thirteen different leadership
          traits.  </p>
        <br>
        <div class="row" style = "text-align:center">
        <img src="https://www.amgemblems.com/sites/default/files/products/Edit%20Product%20SMU%20Mustang%20Car%20Emblem/smu%20mustang%20(chrome).jpg" style="width:300px;height:180px;">

        <img src="http://www.proprofs.com/quiz-school/topic_images/p195vsm50n19jmgiedqp1ehm15v43.jpg" style="width:400px;height:230px;">
        <img src="http://blogs-images.forbes.com/steveolenski/files/2015/01/dreamstime_m_14281983-follow-the-leader-1940x1455.jpg" style="width:350px;height:250px;">

      </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
              <div class="panel-heading" style= "text-align:center"> HART Leadership Assessment </div>
              <div class="panel-body">
                <p>
                The Hart Leadership Assessment (HLA) will help you identify your leadership strengths
                 and growth areas. It should take approximately 20-25 minutes minutes to complete.
                </p>
              </div>
            <div class="panel-footer" style= "text-align:center">
                <a href="http://google.com" class="btn btn-primary"> Take Assessment </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="panel panel-info">
              <div class="panel-heading" style= "text-align:center"> Leadership Assessment Results </div>
              <div class="panel-body">
                <p>
                  The Assessment Results will help you pinpoint your strengths and weaknesses.
                </p>
              </div>
              <div class="panel-footer" style= "text-align:center">
                  <a href="http://google.com" class="btn btn-primary"> View your Assessment Analysis </a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4">
         <div class="panel panel-info">
            <div class="panel-heading" style= "text-align:center"> Your Career Growth at SMU </div>
            <div class="panel-body">
              <p>
                The Hart Center will help you design a plan to capitalize on
                your strengths and improve in areas of weaknesses through providing information about
                resources and organizations on campus that will be beneficial to you.
              </p>
            </div>
            <div class="panel-footer" style= "text-align:center">
                <a href="http://google.com" class="btn btn-primary"> Discover Resources and Coaching </a>
            </div>
        </div>
    </div>
    </div>
  </div>
  {{ end }}
