<:Title>
  Home

<:Body>
  {{ if Volt.current_user }}
    <h1>Home</h1>
  {{ else }}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>SMU Lyle Hart Leadership Assessment Portal
          <img src="http://www.proprofs.com/quiz-school/topic_images/p195vsm50n19jmgiedqp1ehm15v43.jpg" class="img-responsive" alt="Cinque Terre">
        </h1>
        <p>The Hart Leadership Assessment measures the student's thirteen different leadership
          traits which help pinpoint the student's strengths and weaknesses. The Hart Center will
        help you design a plan to capitalize on your strengths and improve in areas of weaknesses. </p>
        <p>
          <a class="btn btn-primary btn-lg" role="button">Learn more</a>
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading"> HART Leadership Assessment </div>
              <div class="panel-body">
                <p>
                The Hart assessment is...
                </p>
              </div>
            <div class="panel-footer">
                <a href="http://google.com" class="btn btn-primary"> Take Assessment! </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="panel panel-info">
              <div class="panel-heading"> Leadership Assessment Results </div>
              <div class="panel-body">
                <p>
                  The Hart assessment is...
                </p>
              </div>
              <div class="panel-footer">
                  <a href="http://google.com" class="btn btn-primary"> View Results! </a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
         <div class="panel panel-info">
            <div class="panel-heading"> Your Career Growth at SMU </div>
            <div class="panel-body">
              <p>
                The Hart assessment is...
              </p>
            </div>
            <div class="panel-footer">
                <a href="http://google.com" class="btn btn-primary"> See your improvement. </a>
            </div>
        </div>
    </div>
    </div>
  </div>
  {{ end }}
