<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
<div class="">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" e-click="show_nav" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HELP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-navbar">
      <ul class="nav navbar-nav">
        <:nav href="/about">About</:nav>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
       <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <:user_templates:menu />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <div class="container">
    {{ if Volt.current_user }}
    <div id="sidebar" class="col-sm-4 col-md-3 sidebar">
        <div class="mini-submenu" e-click="show_submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group" id='side-bar'>
            <span href="#" class="list-group-item active">
                <b>Your Links</b>
                <span class="pull-right" id="slide-submenu" e-click="hide_submenu">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <:link href="/">
                <i class="fa fa-tachometer"></i> Dashboard
            </:link>
            {{ if in_progress? }}
              <:link href="/survey">
                  <i class="fa fa-pencil"></i> Take Survey
              </:link>
            {{ elsif taken? }}
              <:link2>
                <i class="fa fa-pencil"></i> Survey Results
              </:link2>
            {{ end }}
            {{ if Volt.current_user.admin? }}
            <:link href="/users">
                <i class="fa fa-users"></i> Users
            </:link>
            <:link href="/marketing">
                <i class="fa fa-list-alt"></i> Marketing
            </:link>
            {{ end }}
        </div>
      </div>
      {{ end }}

      <div id="main" class="{{ if Volt.current_user }} col-sm-8 col-md-9 {{ end }}">
        <:volt:notices />
        {{ view main_path, 'body', {controller_group: 'main'} }}
        <footer>
          <p>&copy; ABERO {{ Time.now.year }}</p>
        </footer>
      </div>
    </div>
  </div>
</div>
<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

<:Link>
  <a href="{{ attrs.href }}" class="list-group-item {{ if active_tab? }}active{{ end }}">
    {{ yield }}
  </a>

<:Link2>
  <a  e-click="go_to_survey" class="list-group-item {{ if active_button? }}active{{ end }}">
    {{ yield }}
  </a>
