<:Body>
<div class="modal fade" id="EventModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{ model.name || 'New Event' }}</h2>
      </div>
      <div class="modal-body">
          {{ if Volt.current_user.admin? }}
            <:fields:text value="{{ model._name }}" label="Event Name/Title"/>
            <:fields:textarea value="{{ model._description }}" />
            <:datepicker value="{{ model._date }}" label="Day of Event"/>
          {{ else }}
            <label>Description</label>
            <p>{{ model._description }}</p>
            <label>Event Date</label>
            <p>{{ model._date }}</p>
          {{ end }}
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" style="text-align:center;"> Competencies for this Event</label>
            </div>
            {{ if model.saved? }}
            <div class="col-lg-12">
              <div class="list-group">
                {{ event_competencies(model.id).each do |comp| }}
                  <a href="" class="list-group-item">{{ comp.name }}</a>
                {{ end }}
              </div>
            </div>
            {{ else }}
              <div class="col-md-6">
                <div class="list-group">
                  <:clubs:competency item="Self Aware">Self Awareness</:clubs:competency>
                  <:clubs:competency item="Intentional Learner">Intentional Learner</:clubs:competency>
                  <:clubs:competency item="Communicates Effectively">Communicates Effectively</:clubs:competency>
                  <:clubs:competency item="Develops Relationships">Develops Relationships</:clubs:competency>
                  <:clubs:competency item="Diversity and Difference">Diversity and Difference</:clubs:competency>
                  <:clubs:competency item="Engaging Leadership">Engaging Leadership</:clubs:competency>
                </div>
              </div>
              <div class="col-md-6">
                <div class="list-group">
                  <:clubs:competency item="Directive Leadership">Directive Leadership</:clubs:competency>
                  <:clubs:competency item="Champions Effective Processes">Champions Effective Processes</:clubs:competency>
                  <:clubs:competency item="Problem Solving">Problem Solving</:clubs:competency>
                  <:clubs:competency item="Strategic Perspective">Strategic Perspective</:clubs:competency>
                  <:clubs:competency item="Ethics and Integrity">Ethics and Integrity</:clubs:competency>
                  <:clubs:competency item="Innovative Spirit">Innovative Spirit</:clubs:competency>
                </div>
              </div>
            {{ end }}
          </div>
      </div>
      <div class="modal-footer">
        {{ if model.saved? && Volt.current_user.admin? }}
          <button type="button" e-click="update_event" class="btn btn-primary btn-block">Save</button>
          <button type="button" class="btn btn-danger btn-block" e-click="delete_and_close">Delete Event</button>
        {{ elsif Volt.current_user.admin?}}
          <button type="button" e-click="save_event" class="btn btn-primary btn-block">Create Event</button>
        {{ end }}
        <button id="close" type="button" data-dismiss="modal" class="btn btn-default btn-block">Close</button>
      </div>
    </div>
  </div>
</div>
