<:Title>
  HELP | Events

<:Body>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="page-header">
          Hart Events
          {{ if Volt.current_user.admin? }}
            <button e-click="new_event" class="btn btn-primary pull-right" data-toggle="modal" data-target="#EventModal">Create Event +</button>
          {{ end }}
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <label for="year">Leadership Competency</label>
        <select class="form-control" value="{{ params._type_filter }}" >
          <option value="all">All</option>
          <option value="Self Aware">Self Awareness</option>
          <option value="Intentional Learner">Intentional Learner</option>
          <option value="Communicates Effectively">Communicates Effectively</option>
          <option value="Develops Relationships">Relationship Development</option>
          <option value="Diversity and Difference">Diversity Difference</option>
          <option value="Engaging Leadership">Engaging Leadership</option>
          <option value="Directive Leadership">Directive Leadership</option>
          <option value="Champions Effective Processes">Champions Effective Processes</option>
          <option value="Problem Solving">Problem Solving</option>
          <option value="Strategic Perspective">Strategic Perspective</option>
          <option value="Ethics and Integrity">Ethics and Integrity</option>
          <option value="Innovative Spirit">Innovative Spirit</option>
        </select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- {{ if params._type_filter == 'all'}} -->
          {{ all_events.each do |item| }}
            <div class="row">
              <div class="col-lg-12">
                <h3>
                <a e-click="show_more(item.id)">{{ item._name }}</a></h3>
                <p>{{ item._description }}</p>
                <p><b>RSVP:</b> {{ item._rsvp || 'None'}}</p>
                {{ store._competencies.where(event_id: item.id).all.each do |comp| }}
                  <span class="badge">{{ comp.name }}</span>
                {{ end }}
              </div>
              <div class="col-lg-12">
                <div class="event-info">
                  {{ item._date }}
                    <span class="pull-right">{{ item._start_time.strftime("%l:%M %p") }}
                      {{ if item._end_time }}
                      -  {{ item._end_time.strftime("%l:%M %p") }}
                      {{ end }}
                    </span>
                </div>
              </div>
            </div>
          {{ end }}
        <!-- {{ else }}
          {{ all_events.each do |item| }}
            <a e-click="show_more(item[:id])"><h3>{{ the_event(item[:id])._name }}</h3></a>
            <p>{{ the_event(item[:id])._description }}</p>
            {{ store._competencies.where(event_id: item[:id]).all.each do |comp| }}
              <span class="badge">{{ comp.name }}</span>
            {{ end }}
            <br><br>
          {{ end }}
        {{ end }} -->
        <:pagination total="{{ all_events_size }}" per_page="10" />
      </div>
    </div>
  </div>
</div>

{{ if page._event }}
  <:event_modal model="{{ page._event }}"/>
{{ end }}
