<:Title>
  HELP | Surveys

<:Body>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="page-header">
          Your Surveys
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="list-group">
        {{ surveys.each do |survey| }}
          <a href="/results/{{ survey.id }}" class="list-group-item">Survey taken on {{ survey._date.strftime('%m/%d/%Y') }}
            <span class="badge">{{ survey._date.strftime('%l:%M%p') }}</span>
          </a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
