<:Title>
HELP | Resources
<:Body>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <label for="competencies">Competencies</label>
            <select class="form-control" value="{{params._type_filter}}">
              <option value="all">All</option>
              <option value="self_aware">Self Aware</option>
              <option value="intentional_learner">Intentional Learner</option>
              <option value="communicates_effectively">Communicates Effectively</option>
              <option value="develops_relationships">Develops Relationships</options>
              <option value="diversity_and_difference">Diversity and Difference</options>
              <option value="engaging_leadershp">Engaging Leadership</options>
              <option value="directive_leadership">Directive Leadership</options>
              <option value="champions_effective_processes">Champions Effective Processes</options>
              <option value="problem_solving">Problem Solving</options>
              <option value="strategic_perspective">Strategic Perspective</options>
              <option value="ethics_and_integrity">Ethics and Integrity</options>
              <option value="innovative_spirit">Innovative Spirit</options>
            </select>
          </div>
        </div>
      </div>
      <div class ="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <:table:headers />
          </div>
        </div>
        <:table:wrapper>
          <:table:columns />
        </:table:wrapper>
    </div>
  </div>
</div>
</div>
