<:Title>
HELP | Marketing
<:Body>
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      HELP Outreach Analysis
      <small>{{ Time.now.year }}</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      </div>
<div class="panel-body">
    <div class = "table-responsive">
      <table class = "table">
        <tbody>
          <tr>
            <th>Student</th>
            <th>How Student Discovered HELP</th>
          </tr>
          {{store._users.each do |user|}}

          <tr>
            <td>
              {{user._first_name}} {{user._last_name}}
            </td>
            <td>
              {{ model._mktg }}
            </td>
            {{end}}
          </tr>
      </tbody>
      </table>
      </div>
  </div>
</div>
</div>
</div>
